.loadPosts {
  width: 100%;
  margin-top: 80px;
}

.test__conatainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(10, 10, 10, 0.699);
  z-index: 2;
  position: fixed;
  top: 0px;
  left: 0px;
}

.loadPost__image {
  height: 30%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.loadPost__postCard {
  width: 100%;
  display: flex;
  margin: 0px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.loadPost_opaque_container {
  background-color: black;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadPost__imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 5%;
  border: solid #5693db;
}

.loadPost__contents {
  /* border: solid #5693db; */
  position: relative;
  bottom: 0;
  width: 80%;
}

.loadPost__captionBlock {
  position: relative;
  height: 0px;
  bottom: 25px;
  width: 100%;
  color: white;
  background-color: black;
}

.caption_text {
  display: flex;
  justify-content: flex-start;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.511);
}

.loadPost__contents {
  width: 100%;
}

.loadPost__lowerLikes {
  display: flex;
  background-color: #f3eded;
  border-radius: 0px 0px 10px 10px;
  border-top: #5693db solid 10px;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5em;
  padding-left: 1em;
}

.loadPost__heartCount {
  color: rgb(246, 173, 71);
}
