.all-comments-on-post{
    overflow-y: scroll;
}

.individual-comment-block {
    margin-top: 5px;
    border-bottom: 1px solid white;
}

.comment-user-info {
    display: flex;
    align-items: center;
}

.comment-user-picture {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.comment-button-block {
    display: flex;
    /* justify-content: flex-end; */
}

/* .editComment__form {
    display: none;
} */
