/* TODO Add site wide styles */
body {
    background-color: #ffffff;
    overflow-y: hidden;
}

.test_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgba(10, 10, 10, 0.699);
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
}
