.home {
  /* position: absolute; */
  position: absolute;
  top: 75px;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.home__left {
  flex: 0.2;
  display: flex;
  width: 100vh;
  /* justify-content: center; */
  /* align-items: flex-start; */
}

.home__info ul {
  display: flex;
  column-gap: 1em;
  margin-bottom: 0.5em;
  flex-direction: row;
}

.home__middle {
  display: flex;
  flex: 0.4;
  overflow-y: scroll;
  flex-direction: column;
  /* background: rgb(255, 240, 200); */
  background: #fffbf5;
  align-items: center;
  overflow-x: hidden;
}


.home__right {
  flex: 0.25;
}

.home__middle::-webkit-scrollbar {
  display: none;
}

.home__suggestions {
  height: 20em;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-left: 3em;
  margin-top: 7em;
}
.home__developers {
  row-gap: 2em;
  display: flex;
  flex-direction: column;
}

.home__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(255, 240, 200);
  margin-left: 1em;
  border-radius: 999px;
  width: 40px;
  height: 40px;
}

.home__displayPic {
  width: 100%;
  border-radius: 999px;
  height: 100%;
}

.home__developerLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1em;
  width: 100%;
}

.developers__info {
  display: flex;;
}

.developers__links {
  display: flex;
  column-gap: 1em;
  list-style: none;
}

.developers__contacts {
  display: flex;
  justify-content: flex-end ;
}

.developers__links .fa-github, .fa-linkedin {
  color: black;
}

.developers__links .fa-github:hover, .fa-linkedin:hover {
  color: rgb(253, 176, 82)
}
