.navBarLogo__left {
    /* border: solid black; */
    display: flex;
}

.navBarLogo__left > img {
    height: 3.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15em;
}
