.singlePageViewContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.singlePageView {
    z-index: 2;
    background-color: red;
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.singlePageContents {
    display: flex;
    margin: 30px;
    width: 80%;
}


.singlePageView__commentSection {
    background-color: white;
    margin-left: 20px;
    width: 500px;
    border: 1px solid red;
    border-radius: 5px;
    position: relative;
    background-color: rgb(237, 242, 250);
}

.singlePageView__image {
    /* width: auto; */
    display: flex;
    /* height: 50rem; */
    flex-direction: row;
}

.singlePageView__pic {
    display: flex;
    width: 100%;
    height: 100%;
}


.close-post-view-button {
    background-color: red;
    height: 40px;
    width: 70px;
    border-radius: 50%;
    border: none;
    z-index: 4;
    position: relative;
    bottom: 40px;
}
