.singlePageViewContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.singlePageView {
    z-index: 2;
    border: solid rgb(244, 181, 69);
    background-color: rgba(249, 240, 214, 0.876);
    height: 90%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.singlePageContents {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 80%;
}


.singlePageView__commentSection {
    background-color: rgba(202, 227, 255, 0.481);
    margin-left: 20px;
    width: 500px;
    max-height: 800px;
    border: solid rgb(86, 147, 219);
    border-radius: 5px;
    position: relative;
}

.singlePageView__image {
    display: flex;
    flex-direction: row;
}

.singlePageView__pic {
    /* min-height: 300px; */
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.caption-contents {
    background-color: rgba(0, 0, 0, 0.516);
    color: white;
    padding: 10px;
}


.close-post-view-button {
    align-self: flex-start;
    height: 40px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: none;
    z-index: 4;
    position: relative;
    /* bottom: 200px; */
    left: 0px;
    top: 20px;
}

.post__icons {
    display: flex;
    justify-content: flex-start;
 }

.fa-trash,
.fa-pen-to-square {
    color: black;
    margin: 5px;
}

.post-user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(255, 240, 200);
    margin-left: 1em;
    border-radius: 999px;
    width: 25px;
    height: 25px;
}

.user-image {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background: rgb(255, 240, 200);
    margin-left: 1em;
    border-radius: 999px;
    width: 25px;
    height: 25px;
}

.edit-del-buttons {
    margin: 2px;
    background-color:  #f4b545;
    border: none;
    padding: 5px;
    color: white;
    font-family: poppins, sans-serif;
    border-radius: 5px;
}
