body {
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.user-profile-container {
    width: 100%;
    margin-top: 100px;
}

.user-profile-header {
    display: flex;
    
}
