body {
    width: 100%;
    font-family: poppins, sans-serif;
}

#root {
    width: 100%;
}

.user-profile-container-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.user-profile-container {
    width: 70%;
    margin-top: 100px;

}

.user-profile-header {
    display: flex;
    justify-content: flex-start;
    padding: 5%;
}

.profile-pic-container {
    width: 30%;
}

.profile-pic-container > img {
    border-radius: 100%;
    width: 100%;
    /* object-fit: contain; */
}

.header-info {
    margin: 0 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username-cont {
    font-size: 36px;
    font-weight: 200;
}

.name-cont {
    font-weight: 600;
    margin: 5px 0 20px 0;
}

.follows-info-container {
    display: flex;
    align-items: center;
}

.followers-list-container {
    margin: 5px 20px 5px 0;
    font-size: 24px;
    font-weight: 300;
}

.following-list-container {
    margin: 5px 5px 5px 0;
    font-size: 24px;
    font-weight: 300;
}

.user-profile-posts {
    border: solid black;
    border-width: 1px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    overflow-y: auto;
    height: inherit;
}

.user-image-container {
    margin: 10px;
    width: 30%;
}

.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
