.comment-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.create-comment-input {
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 350px;
  height: 30px;
  border: 2px solid rgb(86, 147, 219);
  margin-top: 10px;
}

.create-comment-input[type = text]::-webkit-input-placeholder {
  line-height: 80px;
  vertical-align:top;
}

.comment__container {
  display: flex;
  column-gap: 0.5em;
  margin-top: 2em;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.new-comment-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comment-block-h1-text {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  margin-top: 8px;
  border-bottom: 1px solid rgb(240, 240, 240);
  border-top: 1px solid rgb(240, 240, 240);
  width: 85%;
}

.editComment__username {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

.editComment__avatar {
  border-radius: 999px;
  height: 2em;
  display: flex;
  width: 2em;
  display: flex;
  align-items: center;
  columns: white;
  justify-content: center;
}
.editComment__profilePic {
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
  /* max-height: 100%; */
  object-fit: cover;
  border-radius: 999px;
}

.editComment__commentBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2px;
  row-gap: 0.2em;
}

.editComment__edit {
  /* background-color: #f3eded; */
  height: fit-content;
  display: flex;
  padding: 10px;
  width: 14em;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  border-radius: 15px;
  /* align-items: center; */
}
.editComment__comment {
  display: flex;
  margin-left: 0.5em;
  text-align: left;
  /* padding: 5px; */
  inline-size: 100%;
  overflow-wrap: break-word;
}

.editComment__name {
  font-weight: bolder;
  display: flex;
  justify-self: flex-start;
  width: 100%;
}

.editComment__commentSection {
  display: flex;
  column-gap: 0.5em;
  margin-top: 2em;

  flex-direction: row;
}

.editComment__commentInput {
  border: solid black;
  text-decoration: none;
  height: 5em;
  outline: none;
  /* border: none; */
  /* border-radius: 999px; */
}


.editComment__icons {
  display: flex;
  column-gap: 2em;
}


.editComment__delete:hover, .editCommnet__edit:hover {
  cursor: pointer;
}
